absl-py==0.8.1
appdirs==1.4.4
appnope==0.1.0
astor==0.8.0
astroid==2.3.3
astropy==4.0.1.post1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
branca==0.4.0
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
confuse==1.3.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.1
dm-tree==0.1.2
entrypoints==0.3
enum34==1.1.9
et-xmlfile==1.0.1
feather-format==0.4.0
filelock==3.0.12
fire==0.3.1
Flask==1.1.1
folium==0.10.1
future==0.18.2
gast==0.2.2
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googleapis-common-protos==1.51.0
grpcio==1.24.3
h5py==2.8.0
htmlmin==0.1.12
idna==2.8
ImageHash==4.1.0
importlib-metadata==0.23
ipykernel==4.10.1
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.33.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mock==4.0.2
more-itertools==7.2.0
mpmath==1.1.0
mypy==0.761
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nltk==3.5
notebook==6.0.3
numba==0.50.1
numpy==1.18.1
oauthlib==3.1.0
openpyxl==3.0.2
opt-einsum==3.1.0
pandas==0.25.3
pandas-profiling==2.8.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
phik==0.10.0
pickleshare==0.7.5
Pillow==6.2.1
pipenv==2020.6.2
plotly==4.3.0
portpicker==1.3.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.0
ptyprocess==0.6.0
py4j==0.10.7
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
Pygments==2.4.2
PyInquirer==1.0.3
pyjstat==2.2.0
pylint==2.4.4
pyparsing==2.4.5
pyrsistent==0.15.6
pyspark==2.4.4
python-dateutil==2.8.1
python-dict-wrapper==0.9
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
qgrid==1.3.1
qtconsole==4.6.0
regex==2017.4.5
requests==2.21.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
simpy==4.0.1
six==1.14.0
sklearn==0.0
sympy==1.6
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-addons==0.7.1
tensorflow-cpu==2.1.0
tensorflow-datasets==2.0.0
tensorflow-estimator==1.13.0
tensorflow-federated==0.12.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.1
tensorflow-model-optimization==0.2.1
tensorflow-privacy==0.2.2
tensorflowjs==1.5.2
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
tqdm==4.31.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.24.3
virtualenv==20.0.25
virtualenv-clone==0.5.4
visions==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==0.90
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0
